/* CSS RESET */

body,
h1,
span,
p {
  margin: 0px;
  padding: 0px;
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/* END Reset */
body {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

/* DIVS */
.container {
  background-color: hsl(244, 38%, 16%);
  max-width: 1100px;
  width: 100%;
  height: 55vh;
  border-radius: 10px;
  display: flex;
}
.container div {
  width: 50%;
  height: auto;
}
.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aux {
  width: 75% !important;
}
.two {
  width: 100%;
  height: 100%;
  background-image: url('images/image-header-desktop.jpg');
  background-color: hsl(278, 73%, 78%);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 10px 10px 0;
}
.attribution {
  color: hsla(0, 0%, 100%, 0.6);
  margin: 1% 0;
  font-size: 0.3em;
  font-family: "Lexend Deca";
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
}
.attribution a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.6);
}
.attribution a:hover {
  color: hsl(277, 64%, 61%);
}
/* TEXT */
h1 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter";
  font-weight: 700;
  font-size: 2.2em;
  line-height: 1.5;
}
h1 span {
  color: hsl(277, 64%, 61%);
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  width: 90%;
  margin-top: 5%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.5;
}
.info {
  width: 100% !important;
  margin-top: 10%;
  display: flex;
  justify-content: space-between !important;
}
.info span {
  color: hsl(0, 0%, 100%);
  font-size: 2em;
  font-family: "Inter";
  font-weight: 700;
}
.info div {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.5em;
  font-family: "Lexend Deca";
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 2px;
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    width: 95%;
    height: auto;
    flex-direction: column-reverse;
  }
  .container div {
    width: 100%;
    height: 50%;
  }
  .aux {
    width: 85% !important;
    text-align: center;
    margin: 5% 0;
  }
  p {
    margin-top: 1%;
    width: 100%;
  }
  .info {
    margin-top: 0;
    flex-direction: column;
  }
  .info div {
    margin-top: 4%;
  }
  .two {
    width: 768px;
    height: 20em !important;
    background-image: url('images/image-header-mobile.jpg');
    border-radius: 10px 10px 0 0;
    background-position: center;
  }
}